{% extends 'templates/app.twig' %}

{% block content %}
	<div class="jumbotron">
	  <h1>Developer Challenge</h1>
	  <p>This is the Junior Full Stack Developer challenge by Joe Ainsworth.</p>
	  <p><a href="{{ path_for('upload') }}" class="btn btn-primary btn-lg">Get started</a></p>
	</div>
{% endblock %}