{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Upload</div>
                <div class="panel-body">
                    <form action="{{ path_for('upload') }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="uploadedFile">CSV File<br><small style="font-style: italic; font-weight: 400;">One column of mobile numbers</small></label>
                            <input type="file" name="uploadedFile" id="uploadedFile" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary" id="uploadButton">Upload file</button>

                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
